<div layout="column" layout-align="center center" class="main-content">

    <div class="query-form md-whiteframe-z1" layout="column" layout-align="left center">
        <section>
            <h3 class="md-primary">Search Criteria</h3>
            <div class="form-field" flex>
                <label>Album</label>
                <md-select ng-model="selected.albumRef" >
                    <md-select-label>{{ selectedLabel.albumRef }}</md-select-label>
                    <md-option ng-value="album.id" ng-repeat="album in albums">{{ ::album.name }}</md-option>
                </md-select>
            </div>
            <div class="form-field" flex>
                <label>Country</label>
                <md-select ng-model="selected.countryRef">
                    <md-select-label>{{ selectedLabel.countryRef }}</md-select-label>
                    <md-option ng-value="country.id" ng-repeat="country in countries">{{ ::country.name }}</md-option>
                </md-select>
            </div>
            <div class="form-field" flex>
                <label>Collection</label>
                <md-select ng-model="selected.stampCollectionRef">
                    <md-select-label>{{ selectedLabel.stampCollectionRef}}</md-select-label>
                    <md-option ng-value="collection.id" ng-repeat="collection in stampCollections">{{ ::collection.name }}</md-option>
                </md-select>
            </div>
            <div class="form-field" flex layout="column" layout-style="center center">
                <md-switch ng-model="selected.wantList" ng-true-value="undefined"
                           aria-label="Search for only all stamps">
                    All stamps
                </md-switch>
                <md-switch ng-model="selected.wantList" ng-true-value="false" aria-label="Search for only owned stamps">
                    Only owned stamps
                </md-switch>
                <md-switch ng-model="selected.wantList" ng-true-value="true" aria-label="Search for only wantlist">
                    Only wantlist stamps
                </md-switch>
            </div>
        </section>
    </div>


    <div layout="row" class="action-bar">
        <md-button ng-click="search()" ng-disabled="searchInvalid" class="md-raised md-primary">Search</md-button>
        <md-button ng-click="reset()" class="md-raised">Reset</md-button>
    </div>


</div>