.footer {
    position: absolute;
    top: calc(100% - 32px);
    left: 0px;
    width: 100%;
    height: 32px;
}

.content-panel {
    position: absolute;
    left: 0px;
    top: 64px;
    width: 100%;
    height: calc(100% - 96px);
}

.action-bar {
    padding: 5px;
}

.action-bar * {
    margin-right: 10px;
}

.menu-button {
    margin-right: 5px;
    left:-10px;
}

.nav-menu {

}

.nav-menu-item {
    cursor: pointer;
    padding: 10px;
    color: #767676;
    padding-left: 20px;
}

.nav-menu-item:hover {
    text-shadow: 0 0 1px #eeeeee;
    color: #232323;
    background-color: #bbdefb;
}

.menu-navigation {
    margin-top: 64px;
}

.query-form {
    margin: 10px;
    padding: 20px;
}

.stamp-list {
    max-height: 500px;
}

md-switch .md-label {
    user-select: none;
    -webkit-user-select: none;
}

md-switch:focus .md-label:not(:empty) {
    border-style:none !important;
}

/*
.query-form {
    display: table;
}

.form-field {
    display: table-row;
    padding-bottom: 5px;
}

.form-field * {
    display: table-cell;
}
*/

.form-field {
    padding-bottom: 5px;
}
.form-field label {
    padding-right: 5px;
    min-width: 125px;
}

.form-field select {
    max-width: 350px;
}
.form-field label:after {
    content: ":";
}

.my-slide-container {
    position:relative;
}
/*
.my-slide-​animation.​ng-enter ,
.my-slide-​animation.​ng-leave {
    -webkit-an​imation: .75s none;
    animation: .75s none;
    position:absolute;
    top:0;
    left:0;
    right:0;
    overflow: hidden;
}

.my-slide-​animation.​ng-enter:first-child​,
.my-slide-​animation.​ng-leave:f​irst-child​,
.my-slide-​animation.​ng-enter:l​ast-child,
.my-slide-​animation.​ng-leave:l​ast-child {
    transition​: top .75s;
    position: absolute;
    right: 0;
    left: 0;
    z-index: 10;
}

.my-slide-​animation.​ng-enter:l​ast-child,
.my-slide-​animation.​ng-leave.n​g-leave-ac​tive:last-​child {
    top: -100%;
    opacity: 0;
}
.my-slide-​animation.​ng-leave:l​ast-child,
.my-slide-​animation.​ng-enter.n​g-enter-ac​tive:last-​child {
    opacity: 1;
    top: 0;
}

.my-slide-​animation.​ng-enter:f​irst-child​,
.my-slide-​animation.​ng-leave.n​g-leave-ac​tive:first​-child {
    top: -100%;
    opacity: 0;
}
.my-slide-​animation.​ng-leave:f​irst-child​,
.my-slide-​animation.​ng-enter.n​g-enter-ac​tive:first​-child {
    top: 0;
    opacity: 1;
}
*/

.my-slide-animation.ng-enter, .my-slide-animation.ng-leave {
    position:absolute;
    top:0;
    left:0;
    right:0;
	overflow: hidden;
}

.my-slide-animation.ng-enter ,
.my-slide-animation.ng-leave {
    -webkit-animation: .75s none;
    animation: .75s none;
}

.my-slide-animation.ng-enter > .main-content,
.my-slide-animation.ng-leave > .main-content {
    transition: top .75s;
	position: absolute;
	right: 0;
	left: 0;
	z-index: 10;
}

.my-slide-animation.ng-enter > .main-content,
.my-slide-animation.ng-leave.ng-leave-active > .main-content{
    top: -100%;
    opacity: 0;
}
.my-slide-animation.ng-leave > .main-content,
.my-slide-animation.ng-enter.ng-enter-active > .main-content {
	opacity: 1;
    top: 0;
}

.search > * {
 background-color: white;
}
