.footer {
    position: absolute;
    top: calc(100% - 32px);
    left: 0px;
    width: 100%;
    height: 32px;
}

.content-panel {
    position: absolute;
    left: 0px;
    top: 64px;
    width: 100%;
    height: calc(100% - 96px);
}

.action-bar {
    padding: 5px;
}

.action-bar * {
    margin-right: 10px;
}

.query-form {
    margin: 10px;
    padding: 20px;
}

.stamp-list {
    max-height: 500px;
}

md-switch .md-label {
    user-select: none;
    -webkit-user-select: none;
}

md-switch:focus .md-label:not(:empty) {
    border-style:none !important;
}

/*
.query-form {
    display: table;
}

.form-field {
    display: table-row;
    padding-bottom: 5px;
}

.form-field * {
    display: table-cell;
}
*/

.form-field {
    padding-bottom: 5px;
}
.form-field label {
    padding-right: 5px;
    min-width: 125px;
}

.form-field select {
    max-width: 350px;
}
.form-field label:after {
    content: ":";
}

.my-slide-container {
    position:relative;
}

.my-slide-animation.ng-enter, .my-slide-animation.ng-leave {
    position:absolute;
    top:0;
    left:0;
    right:0;
    height:600px;
}

.my-slide-animation.ng-enter {
    -webkit-animation: .75s slide-animation-enter;
    animation: .75s slide-animation-enter;
}

.my-slide-animation.ng-leave {
    -webkit-animation: .5s slide-animation-leave;
    animation: .5s slide-animation-leave;
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;

    /*-webkit-animation: 0.5s slide-animation-leave;
    animation: 0.5s slide-animation-leave;*/
}

@keyframes slide-animation-enter {
    from {
        z-index:100;
        top:600px;
        opacity:0;
    }
    to {
        top:0;
        opacity:1;
    }
}

@keyframes slide-animation-leave {
    /*from {
        z-index:101;
        top:0;
        opacity:1;
    }
    to {
        top:-600px;
        opacity:0;
    }*/
    0% {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
    }

    30% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        opacity: 1;
    }

    100% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        opacity: 0;
    }
}

@-webkit-keyframes slide-animation-enter {
    from {
        z-index:100;
        top:600px;
        opacity:0;
    }
    to {
        top:0;
        opacity:1;
    }
}

@-webkit-keyframes slide-animation-leave {
    0% {
        -webkit-transform: perspective(400px);
        transform: perspective(400px);
    }

    30% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        opacity: 1;
    }

    100% {
        -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        opacity: 0;
    }

    /*from {
        z-index:101;
        top:0;
        opacity:1;
    }
    to {
        top:-600px;
        opacity:0;
    }*/
}

