html {
    font-size: 11pt;
}

legend {
    color: #0077b3;
}

.footer {
    position: absolute;
    top: calc(100% - 32px);
    left: 0px;
    width: 100%;
    height: 32px;
}

.footer > div {
    top: 5px;
    position: absolute;
}
md-toolbar.md-default-theme.default-toolbar {
    background-color: #e0e0e0;
}
.content-panel {
    position: absolute;
    left: 0px;
    top: 64px;
    width: 100%;
    height: calc(100% - 96px);
}

.action-bar {
    padding: 5px;
}

.action-bar * {
    margin-right: 10px;
}

.menu-button {
    margin-right: 5px;
    left:-10px;
}

.nav-menu {

}

.nav-menu md-divider {
    margin-bottom: 10px;
}

.nav-menu legend {
    margin-left: 26px;
}
.nav-menu-item {
    cursor: pointer;
    padding: 10px 10px 10px 0;
    color: #767676;
}

.nav-menu-item:hover {
    text-shadow: 0 0 1px #eeeeee;
    color: #232323;
    background-color: #bbdefb;
}

.nav-menu-item img {
    padding-right: 16px;
    margin-left: 16px;
    margin-right: 16px;
}

.menu-navigation {
    margin-top: 64px;
}

.query-form {
    margin: 10px;
    padding: 20px;
}

.stamp-list {
    max-height: 500px;
}

md-switch .md-label {
    user-select: none;
    -webkit-user-select: none;
}

md-switch:focus .md-label:not(:empty) {
    border-style:none !important;
}

md-checkbox .md-label {
    border: none;
}

md-select-menu {
    overflow-y: hidden;
}

md-select-menu md-content {
    min-width: 136px;
}

.md-select-label {
    font-size: 100%;
}

.stampform-editor md-input-container {
    overflow: hidden;
}

md-input-container.no-messaging {
    padding-bottom: 5px;
}

md-whiteframe {
    background: #fff;
    margin: 20px;
    padding: 20px;
}

.md-input-focused textarea,.md-input-focused input {
    background-color: #fdfdfd;
}

.form-field {
    padding-bottom: 5px;
}
.form-field label {
    padding-right: 5px;
    min-width: 65px;
    display: inline-block;
}

.form-field label.select {
 /*
    text-align: right;
    */
}

.form-field label.select:after {
    content: ":";
}

.form-field input[type='number'] {
    width: 110px;
}

.form-field .number {
    width: 170px;
}

.stamp-editor md-whiteframe {
    width: 400px;
}

.currency-selector {
    width: 75px;
    padding-bottom: 26px;
    top: 25px;
    position: relative;
}

.currency-label {
    padding-bottom: 26px;
    top: 25px;
    position: relative;
}

.condition-selector {
    width: 130px;
}

.grade-selector {
    width: 160px;
}

.catalogue-selector, .country-selector, .album-selector, .stampCollection-selector, .seller-selector {
    width: 310px;
}

.purchased {
    width: 140px;
}

.pricePaid {
    display: inline-flex;
}

.selector-wrapper label:not(.no-select) {
    color: rgba(0,0,0,0.54);
    order: 1;
    display: block;
    pointer-events: none;
    -webkit-font-smoothing: antialiased;
    padding-left: 2px;
    z-index: 1;
    -webkit-transform: translate3d(0, 8px, 0) scale(0.75);
    transform: translate3d(0, 8px, 0) scale(0.75);
    -webkit-transform-origin: left top;
    transform-origin: left top;
    transition: -webkit-transform cubic-bezier(0.25, 0.8, 0.25, 1) 0.25s;
    transition: transform cubic-bezier(0.25, 0.8, 0.25, 1) 0.25s;
}
.selector-wrapper label.no-select {
    color: rgba(0,0,0,0.26);
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
    display: block;
    background: none;
    padding-top: 2px;
    padding-bottom: 1px;
    padding-left: 2px;
    padding-right: 2px;
    border-width: 0 0 1px 0;
    line-height: 26px;
    -ms-flex-preferred-size: 26px;
    -webkit-transform: translate3d(0, 34px, 0) scale(1);
    transform: translate3d(0, 34px, 0) scale(1);
    border-radius: 0;
}

md-select .md-select-label {
    padding-right: 5px;
}

md-select .md-select-label span {
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: calc(100% - 15px);
    overflow-x: hidden;
    overflow-y: hidden;
    height: 12px;
}

.md-select-label .md-select-icon {
    position: absolute;
    right: 0px;
}

md-select {
    margin-top: 5px;
}

.slide-animation.ng-enter  {
    z-index: 10;
    -webkit-animation: 1.0s none;
    animation: 1.0s none;
    overflow: hidden;
    position: absolute;
}

.slide-animation.ng-enter  > * {
    transition: top .6s ease, opacity .2s linear;
    -webkit-transition: top .6s ease, opacity .2s linear;
    position:absolute;
    top:0;
    left:0;
    right:0;
}

.slide-animation.ng-leave  > * {
    display: none;
    opacity: 0;
}

.slide-animation.ng-enter > * {
    opacity: 0;
}
.slide-animation.ng-enter.ng-enter-active > * {
    opacity: 1;
}

.slide-animation.ng-enter:last-child > * {
    top: -100%;
    opacity: 0;
}

.slide-animation.ng-enter.ng-enter-active:last-child > * {
    top: 0;
    opacity: 1;
}

.tableWrapper {
    min-height: 250px;
}

.edit-actions {
    padding: 10px;
}
.edit-actions button {
    width: 75px;
    margin: 5px;
}

.server-activity {
    opacity: 1.0;
}
.server-activity.ng-hide-add.ng-hide-add-active {
    -webkit-transition: all linear 1.5s;
    transition: all linear 1.5s;
}

.server-activity.ng-hide {
    line-height: 0;
    opacity: 0;
}