<div layout-fill class="main-content">
    <md-content layout-fill class="md-default-theme" layout="column" >
        <md-toolbar class="default-toolbar">
            <md-button class="md-fab md-button md-default-theme"  data-ng-click="edit(selection.getSelected())" aria-label="Edit Country">
                <img ng-src="resources/images/edit-icon-24x24.png" class="md-default-theme" aria-hidden="true"/>
            </md-button>
        </md-toolbar>
        <table layout-fill table-scrolling-table table-columns-resizable table-empty-message="No countries found." table-selector>
            <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="row in countries track by row.id" ref-id="{{::row.id}}">
                <td>{{row.name}}</td>
                <td>{{row.description}}</td>
            </tr>
            </tbody>
        </table>
    </md-content>

</div>