<md-sidenav class="md-sidenav-left menu-navigation" md-component-id="left-nav">
    <div ng-controller="HeaderCtrl" class="nav-menu">
        <div ng-click="goto('country-list')" class="nav-menu-item">
            <md-button class="md-fab" aria-label="Menu" >
                <img ng-src="resources/images/menu-icon-24x24.png"/>
            </md-button> Countries
        </div>
        <div ng-click="goto('search')" class="nav-menu-item">
            <md-button class="md-fab" aria-label="Menu" >
                <img ng-src="resources/images/search-icon-24x24.png"/>
            </md-button> Search
        </div>
    </div>

</md-sidenav>