<div layout="row" layout-sm="column">
       <div flex>
              <p>This is the partial for view 1.</p>
       </div>
       <div flex>
              The location is: {{location}}
              <table table-scrolling-table>
                     <thead>
                     <tr>
                            <th>Header</th>
                     </tr>
                     </thead>
                     <tbody>
                     <tr>
                            <td>Value</td>
                     </tr>
                     <tr>
                            <td>Value2</td>
                     </tr>
                     </tbody>

              </table>
       </div>
</div>


